<%= form_with(model: boat, local: true) do |form| %>
  <% if boat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(boat.errors.count, "error") %> prohibited this boat from being saved:</h2>

      <ul>
      <% boat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group col-md-6">
    <%= form.label :Cliente %>
    <%= form.select :client_id, Client.all.map{|c| [c.nombre, c.id] }, id: :boat_client_id %>
  </div>

  <div class="form-group col-md-6">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :boat_nombre, class:"form-control", placeholder:" nombre de la lancha" %>
  </div>

  <div class="form-group col-md-6">
    <%= form.label :matricula %>
    <%= form.text_field :matricula, id: :boat_matricula, class:"form-control", placeholder:"matricula" %>
  </div>

  <div class="form-group col-md-6">
    <%= form.label :motor %>
    <%= form.text_field :motor, id: :boat_motor, class:"form-control" %>
  </div>

  <div class="actions">
    <%= form.submit"Guardar", class: "btn btn-primary" %>
  </div>
<% end %>
